*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
div{
    height: 60px;
    

    background: linear-gradient(to top,#014871,#A0EBCF);
    box-shadow: 0 30px 15px rgba(0,0,0,.0);
}
div ul{
    float:right;
    margin-right: 1030px;
    margin-top: 20px;
}
div ul li{
    display: inline-block;
}
div ul li a{
    color: white;
    display: block;
    padding: 0 10px;
    line-height: 20px;
    font-size: 20px;
    background: #A0EBCF;
}
nav ul li a:hover,
nav ul li a.action{
    color: #A0EBCF;
}
div ul ul{
    position: absolute;
    top: 60px;
    border-top: 1px solid #014871;
    /* opacity: 0;
    visibility: hidden; */

}
/* nav ul li:hover > ul{
   top:60px;
   opacity: 1;
   visibility: visible;
} */
div ul ul li{
    width: 200px;
    height: 50px;
    display: list-item;
    position: relative;
    border: 1px solid powderblue;
    border-top: none;
}